@import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css");

:root {
	--primary-color: maroon;
	--accent-color: white;
	--backdrop: #333;
	--background: #111;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {width: 100%; height: 100%; overflow: auto;}
body {
	display: grid;
	font-family: Arial, Helvetica, sans-serif;
	background: var(--backdrop);
	background-image: url("https://www.pexels.com/photo/2387793/download/");
	background-size: cover;
	display: grid;
	place-items: center;
	color: var(--primary-color);
	line-height: 1.5;
	margin: auto;
}
#wrapper {
	max-width: 400px;
}
.rounded-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: var(--background);
	box-shadow: 5px 5px 5px #000;
	text-align: center;
	align-items: center;
	border-radius: 20px;
	overflow: hidden;
}

header, footer {
	background: var(--primary-color);
	color: var(--accent-color);
	padding: 1em;
	width: 100%;
	box-shadow: 0 3px 4px #000;
}
header {
	margin-bottom: 1em;
}
footer {
	padding: 0.25em;
	background-color: #000;
}
#description {
	color: var(--accent-color);
	margin: 0.2em 0;
	width: 80%;
}

label, button {
	display: inline-block;
	padding: 0.2em;
	color: var(--primary-color);
	font-weight: bolder;
	border: 2px solid var(--primary-color);
}

label:hover, button:hover,
input:checked + label {
	color: #111;
	background: var(--primary-color);
	cursor: pointer;
}

input[type=radio] {
	display: none;
}
input[type=radio] ~ #tab-container > .tab {
	display: none;
}
#rdb-image:checked ~ #tab-container #tab-image,
#rdb-text:checked ~ #tab-container #tab-text {
	display: block;
}
#input {
	width: 100%;
}
#input > label {
	margin: 0.5;
}
#file-image {
	display: none;
}
#tab-container {
	margin: 1em auto;
	width: 70%;
}
.tab {
	margin: auto;
	width: 70%;
}
#lbl-image {
	display: grid;
	place-items: center;
	min-width: 150px;
	min-height: 100px;
	border: 5px dashed;
	overflow: hidden;
}
strong {
	font-weight: bolder;
}
#lbl-image i {
	display: block;
}
textarea {
	width: 100%;
	height: 9em;
	background-color: #222;
	color: var(--accent-color);
	outline: black;
	border: none;
}

button {
	background: none;
	border-width: 3px;
	margin: 0.3em;
	padding: 0.3em;
	font-size: 1.4em;
}

#card {
	display: flex;
	text-align: left;
	background: #222;
	max-width: 400px;
	border-radius: 20px;
	padding: 0.5em;
	margin: 1em;
	justify-items: center;
	justify-content: space-between;
	box-shadow: 5px 5px 5px #000;
}
#avatar {
	margin: 0.25em;
	flex-shrink: 1;
}
#card .info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-weight: bolder;
}
#card .info > * {
	 overflow-wrap: break-word;
	 word-wrap: break-word;
	 word-break: break-all;
	 hyphens: auto;
}
.info > * > :first-child {
	margin-right: 0.2em;
}
.info-text > slot:empty {
	background: var(--primary-color);
	opacity: 0.8;
	width: 10em;
	height: 1em;
	display: inline-block;
}

a {
	color: var(--primary-color);
}

#alert-box {
	color: var(--accent-color);
	/* Make the element invisible and take no space */
	visibility: hidden;
	max-height: 0;
	opacity: 0;
	padding: 0;
	border-radius: 20px;
	transition: 1s all;
}
#alert-box.active {
	transition: 1s all;
	opacity: 1;
	visibility: visible;
	max-height: inherit;
	padding: 1em;
	margin: 1em 0;
}
.error {
	background: var(--primary-color);
}
.success {
	background: green;
}

.hidden {
	display: none;
}

#cards {
	margin-top: 2em;
}
#card button {
	padding: 0.1em;
	align-self: baseline;
}
@media(max-width: 450px) {
	#wrapper, main {
		width: 100%;
		height: 100%;
	}
}
